Dataset name:
Sample Supermarket Dataset

Dataset link:
https://www.kaggle.com/datasets/bravehart101/sample-supermarket-dataset

One row represents a single product transaction in a 
supermarket (i.e., one product sold in one bill).

1.Invoice ID
Invoice ID is a unique identifier assigned to each sales transaction. It helps in uniquely identifying and tracking individual purchase records in the dataset.

2.Branch
The Branch column indicates the specific supermarket branch where the transaction occurred, such as Branch A, Branch B, or Branch C.

3.City
This column represents the city in which the supermarket branch is located. It is useful for analyzing and comparing sales performance across different cities.

4.Customer Type
Customer Type specifies whether the customer is a Member or a Normal customer. This helps in understanding customer loyalty and purchasing patterns.

5.Product Line
Product Line refers to the category of products sold, such as Food and Beverages, Health and Beauty, or Electronic Accessories. It helps in identifying high‑performing product categories.

6.Total
The Total column shows the final amount paid by the customer for a transaction, including applicable taxes. It reflects the overall value of each sale.

• Missing values in customer or payment columns

• Inconsistent text casing (e.g., Male, male, MALE)

• Wrong data types (dates stored as object)

• Duplicate transaction records

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\NSE\SampleSuperstore.csv")
df

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

In [4]:
df.shape

(9994, 13)

In [5]:
df.head(2)

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [7]:
df.isna().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(17)

In [12]:
df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [9]:
df = df.drop_duplicates()

In [19]:

df.loc[:, 'Postal Code'] = df['Postal Code'].astype('Int64')

In [20]:

df.loc[:, 'Profit'] = df['Profit'].fillna(df['Profit'].median())

In [21]:

df.loc[:, 'Ship Mode'] = df['Ship Mode'].fillna(df['Ship Mode'].mode()[0])

In [25]:
df.loc[:,'Ship Mode'] = df['Ship Mode'].str.strip().str.title()
df.loc[:,'Region'] = df['Region'].str.strip().str.upper()

In [26]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [39]:
df.loc[:,'profit_level'] = np.where(df['profit'] > 500, 'High', 'Low')
df

,ship_mode,segment,country,city,state,postal_code,region,category,sub-category,sales,quantity,discount,profit,profit_level,sales_after_discount,order_size
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Bookcases,261.9600,2.0,0.00,41.9136,Low,261.960000,Small Order
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Chairs,731.9400,3.0,0.00,219.5820,Low,731.940000,Small Order
2,Second Class,Corporate,United States,Los Angeles,California,90036,WEST,Office Supplies,Labels,14.6200,2.0,0.00,6.8714,Low,14.620000,Small Order
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Furniture,Tables,957.5775,5.0,0.45,-383.0310,Low,526.667625,Bulk Order
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Office Supplies,Storage,22.3680,2.0,0.20,2.5164,Low,17.894400,Small Order
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Technology,Phones,258.5760,2.0,0.20,19.3932,Low,206.860800,Small Order
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Office Supplies,Paper,29.6000,4.0,0.00,13.3200,Low,29.600000,Small Order
9993,Second Class,Consumer,United States,Westminster,California,92683,WEST,Office Supplies,Appliances,243.1600,2.0,0.00,72.9480,Low,243.160000,Small Order
Ship Mode,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order
Region,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order

In [40]:
df.loc[:,'sales_after_discount'] = df['sales'] * (1 - df['discount'])
df

,ship_mode,segment,country,city,state,postal_code,region,category,sub-category,sales,quantity,discount,profit,profit_level,sales_after_discount,order_size
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Bookcases,261.9600,2.0,0.00,41.9136,Low,261.960000,Small Order
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Chairs,731.9400,3.0,0.00,219.5820,Low,731.940000,Small Order
2,Second Class,Corporate,United States,Los Angeles,California,90036,WEST,Office Supplies,Labels,14.6200,2.0,0.00,6.8714,Low,14.620000,Small Order
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Furniture,Tables,957.5775,5.0,0.45,-383.0310,Low,526.667625,Bulk Order
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Office Supplies,Storage,22.3680,2.0,0.20,2.5164,Low,17.894400,Small Order
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Technology,Phones,258.5760,2.0,0.20,19.3932,Low,206.860800,Small Order
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Office Supplies,Paper,29.6000,4.0,0.00,13.3200,Low,29.600000,Small Order
9993,Second Class,Consumer,United States,Westminster,California,92683,WEST,Office Supplies,Appliances,243.1600,2.0,0.00,72.9480,Low,243.160000,Small Order
Ship Mode,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order
Region,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order

In [41]:
df.loc[:,'order_size'] = np.where(df['quantity'] >= 5, 'Bulk Order', 'Small Order')
df

,ship_mode,segment,country,city,state,postal_code,region,category,sub-category,sales,quantity,discount,profit,profit_level,sales_after_discount,order_size
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Bookcases,261.9600,2.0,0.00,41.9136,Low,261.960000,Small Order
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,SOUTH,Furniture,Chairs,731.9400,3.0,0.00,219.5820,Low,731.940000,Small Order
2,Second Class,Corporate,United States,Los Angeles,California,90036,WEST,Office Supplies,Labels,14.6200,2.0,0.00,6.8714,Low,14.620000,Small Order
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Furniture,Tables,957.5775,5.0,0.45,-383.0310,Low,526.667625,Bulk Order
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,SOUTH,Office Supplies,Storage,22.3680,2.0,0.20,2.5164,Low,17.894400,Small Order
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Technology,Phones,258.5760,2.0,0.20,19.3932,Low,206.860800,Small Order
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,WEST,Office Supplies,Paper,29.6000,4.0,0.00,13.3200,Low,29.600000,Small Order
9993,Second Class,Consumer,United States,Westminster,California,92683,WEST,Office Supplies,Appliances,243.1600,2.0,0.00,72.9480,Low,243.160000,Small Order
Ship Mode,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order
Region,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,Small Order

In [34]:
df.groupby('category')['sales'].agg(['sum', 'mean'])

                         sum        mean
category
Furniture        741306.3133  350.002981
Office Supplies  718735.2440  119.550107
Technology       836154.0330  452.709276

In [35]:
df.sort_values(by='sales', ascending=False).head(5)

,ship_mode,segment,country,city,state,postal_code,region,category,sub-category,sales,quantity,discount,profit,profit_level,sales_after_discount,order_size
2697,Standard Class,Home Office,United States,Jacksonville,Florida,32216,SOUTH,Technology,Machines,22638.480,6.0,0.5,-1811.0784,Low,11319.2400,Bulk Order
6826,Standard Class,Corporate,United States,Lafayette,Indiana,47905,CENTRAL,Technology,Copiers,17499.950,5.0,0.0,8399.9760,High,17499.9500,Bulk Order
8153,First Class,Consumer,United States,Seattle,Washington,98115,WEST,Technology,Copiers,13999.960,4.0,0.0,6719.9808,High,13999.9600,Small Order
2623,First Class,Home Office,United States,New York City,New York,10024,EAST,Technology,Copiers,11199.968,4.0,0.2,3919.9888,High,8959.9744,Small Order
4190,Standard Class,Consumer,United States,Newark,Delaware,19711,EAST,Technology,Copiers,10499.970,3.0,0.0,5039.9856,High,10499.9700,Small Order

In [36]:
df['ship_mode'].value_counts()

ship_mode
Standard Class    5955
Second Class      1943
First Class       1537
Same Day           542
Name: count, dtype: int64

In [37]:
pd.pivot_table(
    df,
    values='sales',
    index='region',
    columns='category',
    aggfunc='sum'
)

category    Furniture  Office Supplies  Technology
region
CENTRAL   163407.1938       166959.347  170416.312
EAST      208009.8320       205451.383  264973.981
SOUTH     117298.6840       125651.313  148771.908
WEST      252590.6035       220673.201  251991.832

In [38]:
df[(df['profit_level'] == 'High') & (df['discount'] > 0)]

,ship_mode,segment,country,city,state,postal_code,region,category,sub-category,sales,quantity,discount,profit,profit_level,sales_after_discount,order_size
353,First Class,Home Office,United States,New York City,New York,10009,EAST,Office Supplies,Binders,4355.168,4.0,0.2,1415.4296,High,3484.1344,Small Order
977,First Class,Corporate,United States,Detroit,Michigan,48205,CENTRAL,Technology,Machines,3059.982,2.0,0.1,679.9960,High,2753.9838,Small Order
2623,First Class,Home Office,United States,New York City,New York,10024,EAST,Technology,Copiers,11199.968,4.0,0.2,3919.9888,High,8959.9744,Small Order
3055,Standard Class,Corporate,United States,Chicago,Illinois,60623,CENTRAL,Technology,Copiers,2799.960,5.0,0.2,874.9875,High,2239.9680,Bulk Order
3150,First Class,Consumer,United States,Newark,Ohio,43055,EAST,Technology,Accessories,2025.360,6.0,0.2,607.6080,High,1620.2880,Bulk Order
3273,Standard Class,Home Office,United States,Los Angeles,California,90032,WEST,Technology,Copiers,3359.952,6.0,0.2,1049.9850,High,2687.9616,Bulk Order
3628,Standard Class,Consumer,United States,Seattle,Washington,98103,WEST,Office Supplies,Binders,2060.744,7.0,0.2,643.9825,High,1648.5952,Bulk Order
3983,Second Class,Consumer,United States,Los Angeles,California,90045,WEST,Technology,Copiers,2799.960,5.0,0.2,944.9865,High,2239.9680,Bulk Order
4619,First Class,Home Office,United States,Los Angeles,California,90049,WEST,Technology,Copiers,2879.952,6.0,0.2,1007.9832,High,2303.9616,Bulk Order
5710,Standard Class,Consumer,United States,New York City,New York,10024,EAST,Technology,Copiers,2799.944,7.0,0.2,1014.9797,High,2239.9552,Bulk Order
5756,Standard Class,Consumer,United States,Fort Worth,Texas,76106,CENTRAL,Technology,Copiers,1999.960,5.0,0.2,624.9875,High,1599.9680,Bulk Order
5990,Standard Class,Consumer,United States,Los Angeles,California,90049,WEST,Office Supplies,Binders,2357.488,7.0,0.2,884.0580,High,1885.9904,Bulk Order
6099,Standard Class,Consumer,United States,New York City,New York,10035,EAST,Furniture,Chairs,2888.127,11.0,0.1,609.7157,High,2599.3143,Bulk Order
6209,Standard Class,Corporate,United States,Seattle,Washington,98103,WEST,Office Supplies,Binders,2793.528,9.0,0.2,942.8157,High,2234.8224,Bulk Order
6425,Standard Class,Consumer,United States,Philadelphia,Pennsylvania,19120,EAST,Technology,Copiers,8399.976,4.0,0.4,1119.9968,High,5039.9856,Small Order
6534,Standard Class,Consumer,United States,Buffalo,New York,14215,EAST,Office Supplies,Binders,2152.776,3.0,0.2,726.5619,High,1722.2208,Small Order
6817,Standard Class,Consumer,United States,Seattle,Washington,98105,WEST,Office Supplies,Binders,3266.376,3.0,0.2,1061.5722,High,2613.1008,Small Order
6901,Same Day,Corporate,United States,Huntington Beach,California,92646,WEST,Technology,Copiers,2399.960,5.0,0.2,839.9860,High,1919.9680,Bulk Order
7173,Standard Class,Corporate,United States,Houston,Texas,77070,CENTRAL,Technology,Copiers,2399.960,5.0,0.2,569.9905,High,1919.9680,Bulk Order
7818,Second Class,Home Office,United States,North Las Vegas,Nevada,89031,WEST,Office Supplies,Binders,4535.976,3.0,0.2,1644.2913,High,3628.7808,Small Order
8749,First Class,Consumer,United States,New York City,New York,10009,EAST,Office Supplies,Binders,3050.376,3.0,0.2,1143.8910,High,2440.3008,Small Order
8858,Standard Class,Corporate,United States,Sacramento,California,95823,WEST,Office Supplies,Binders,5083.960,5.0,0.2,1906.4850,High,4067.1680,Bulk Order
9056,First Class,Home Office,United States,New York City,New York,10011,EAST,Furniture,Chairs,2621.322,11.0,0.1,553.3902,High,2359.1898,Bulk Order
9165,Second Class,Consumer,United States,San Diego,California,92037,WEST,Technology,Machines,4476.800,4.0,0.2,503.6400,High,3581.4400,Small Order
9270,Standard Class,Consumer,United States,New York City,New York,10035,EAST,Office Supplies,Binders,4305.552,6.0,0.2,1453.1238,High,3444.4416,Bulk Order
9490,Standard Class,Consumer,United States,San Francisco,California,94110,WEST,Office Supplies,Binders,2022.272,8.0,0.2,682.5168,High,1617.8176,Bulk Order
9615,First Class,Corporate,United States,Seattle,Washington,98115,WEST,Office Supplies,Binders,2033.584,2.0,0.2,762.5940,High,1626.8672,Small Order
9929,Same Day,Consumer,United States,San Francisco,California,94122,WEST,Technology,Copiers,2799.960,5.0,0.2,944.9865,High,2239.9680,Bulk Order

After shape, head(), info():
The dataset contains ____ rows and ____ columns.
Initial inspection using info() shows that most columns are numeric, while some columns such as ___ and ___ are of object type. Date column required datatype conversion.

Missing values were observed in columns such as _df.isna().sum()
df.duplicated().sum()
Duplicate records were also found and removed to ensure data accuracy.

1.Duplicate rows were removed to avoid repeated transactions.

2.Date column was converted to datetime format for time‑based analysis.

3.Missing numerical values were filled using mean to retain overall distribution.

4.Missing categorical values were filled using mode.

5.Text columns were cleaned using str.strip() and standardized using title case.

6.Column names were renamed for consistency and ease of use.

created columns

1.Profit Level:
This column classifies orders as High or Low based on whether the profit is greater than 500.

2.Sales After Discount:
This column shows the actual sales amount after applying the discount on the original sales value.

3.Order Size:
This column categorizes orders as Bulk Order or Small Order based on the quantity purchased.

1 (groupby + agg)
It helps in understanding which category performs better in terms of overall sales and average sales value.

2 (sort_values)
This code sorts the dataset in descending order based on sales and displays the top 5 records with the highest sales values.
It helps identify the highest‑value sales transactions.

3 (value_counts)
This code counts how many times each ship mode appears in the dataset.
It helps identify the most frequently used shipping method.

4 (pivot_table)
This code creates a pivot table that shows the total sales (sum) for each category across different regions.
It helps compare how different product categories perform in each region.

5 (boolean filtering)
This code filters the dataset to show only those records where the profit level is High and the discount is greater than 0.
It helps analyze high‑profit sales that were achieved even after offering discounts.